.html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
}
#aa-header {
    display: inline;
    float: left;
    width: 100%;
    background-color: black;
}

    #aa-header .aa-header-bottom {
        float: left;
        display: inline;
        width: 100%;
        padding: 20px 0;
    }

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.aa-header-bottom-area {
    float: left;
    display: inline;
    width: 100%;
}

.aa-logo {
    text-align: center;
}

.aa-phone {
    color: white;
}

.clearfix:after {
    display: block;
    clear: both;
}

.wrapper {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background: #3e3436;
}
/*----- Phần menu -----*/
.menu {
    width: 1000px;
    margin: 0px auto;
    background: orange;
    height: 50px;
    margin-top: 150px;
}

    .menu li {
        margin: 0px;
        list-style: none;
        font-family: 'Ek Mukta';
    }

    .menu a {
        transition: all linear 0.15s;
        color: #919191;
        text-decoration: none;
    }

    .menu li:hover > a, .menu .current-item > a {
        text-decoration: none;
        color: #be5b70;
    }

    .menu .arrow {
        font-size: 11px;
        line-height: 0%;
    }
    /*----- css cho phần menu cha -----*/
    .menu > ul > li {
        float: left;
        display: inline-block;
        position: relative;
        font-size: 19px;
    }

        .menu > ul > li > a {
            padding: 10px 40px;
            display: inline-block;
            color: white;
        }

        .menu > ul > li:hover > a, .menu > ul > .current-item > a {
            background: #2e2728;
        }
    /*----css cho menu con----*/
    .menu li:hover .sub-menu {
        z-index: 1;
        opacity: 1;
    }

.sub-menu {
    width: 160%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    background: #2e2728;
}

    .sub-menu li {
        display: block;
        font-size: 16px;
    }

        .sub-menu li a {
            padding: 10px 30px;
            display: block;
        }

            .sub-menu li a:hover, .sub-menu .current-item a {
                background: #3e3436;
            }
/*Slider*/
#aa-slider{
    float:left;
    display:inline;
    width:100%;
}
    #aa-slider.aa-slider-area {
        float: left;
        display: inline;
        width: 100%;
    }
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
/* ẩn hình ảnh cho phần tử slideshow */
.mySlides {
    display: none;
}
/* thiết kế nút mũi tên*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
marquee{
    background-color:black;
    color:white;
    border:solid orange;
}
/*Slide*/
#slideshow {
    background:black;
    overflow: hidden;
    height: 500px;
    width: 1500px;
    margin: 0px auto;
}
img{
    max-height:500px;
    max-width:1500px;
}
.slide-wrapper {
    width: 3000px;
    -webkit-animation: slide 14s ease infinite;
}

.slide {
    float: left;
    height: 500px;
    width: 1500px;
}

@-webkit-keyframes slide {
    20% {
        margin-left: 0px;
    }

    30% {
        margin-left: -750px;
    }

    50% {
        margin-left: -750px;
    }

    60% {
        margin-left: -1500px;
    }

    80% {
        margin-left: -1500px;
    }
}
#aa-footer {
    display: inline;
    float: left;
    width: 100%;
}
/*.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}*/
