@inherits LayoutComponentBase
    <body>
        <header id="aa-header">
            <div class="aa-header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="aa-header-bottom-area">
                                <div class="aa-phone"><span class="oi oi-phone">&nbsp; &nbsp;028.3938.1892</span></div>
                                <div class="aa-logo">
                                    <a href="https://localhost:44307/">
                                        <img src="logo.png"
                                             style="width: 63.3333px;height: 52px; margin: 5px 0px 5px 0px" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <nav class="menu">
                    <ul class="clearfix">
                        <li><a href="#">Trang chủ</a></li>
                        <li>
                            <a href="#">AN PHUOC <span class="arrow">&#9660;</span></a>

                            <ul class="sub-menu">
                                <li><a href="#">Áo sơ mi nam</a></li>
                                <li><a href="#">Áo thun nam</a></li>
                                <li><a href="#">Quần nam</a></li>
                                <li><a href="#">Áo khoác nam</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">AN PHUOC LADIES <span class="arrow">&#9660;</span></a>

                            <ul class="sub-menu">
                                <li><a href="#">Áo sơ mi nữ</a></li>
                                <li><a href="#">Áo thun nữ</a></li>
                                <li><a href="#">Quần nữ</a></li>
                                <li><a href="#">Áo khoác nữ</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">PHỤ KIỆN <span class="arrow">&#9660;</span></a>

                            <ul class="sub-menu">
                                <li><a href="#">Giày dép</a></li>
                                <li><a href="#">Ví da</a></li>
                                <li><a href="#">Thắc lưng</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <marquee><h4>Chào mừng bạn đến với Shop An Phước......!</h4></marquee>
    <div><AnPhuocShop.Web.Pages.AnPhuocList /></div>
        </body>
